@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  animation: typing 2s steps(10), cursor 0.4s step-end infinite alternate;
}

@layer base {
  @font-face {
    font-family: "Gordita";
    src: url("/fonts/Gordita-Regular.otf") .format("opentype"),
      url("/fonts/Gordita-Light.otf") .format("opentype"),
      url("/fonts/Gordita-Medium.otf") .format("opentype"),
      url("/fonts/Gordita-Bold.otf") .format("opentype"),
      url("/fonts/Gordita-Black.otf") .format("opentype");
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* For iPad portrait */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* styles for iPad portrait */
}

/* For iPad landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* styles for iPad landscape */
}

/* For retina display */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* styles for retina display */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: blue;
}

.wrapper::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/proverbs.png);
  background-repeat: no-repeat;
  //background-size: cover;
  //background-size: contain;
  background-size: contain;
  background-position: center;
  transform: rotate(-10deg);
  z-index: -1;
}
